body {
    height: 100hv;
    font-family: "Lucida Console", Monaco, monospace;
    
}

.contenedor {
    width: 100%;
    height: 100vh;
    text-align: center;
    background-image: url('../includes/indexfondo.jpg');
    background-size: cover;
    /* Ajusta la imagen para cubrir todo el contenedor */
    background-position: center;
    /* Centra la imagen dentro del contenedor */
    background-attachment: fixed;

}

.login {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin: 0 auto;
    height: 400px;
}

.form label,
input {
    display: flex;
    flex-direction: row;
    height: 25px;
    width: 200px;
    padding: 5px 0 5px 5px;
}

label{
    color: white;
}

.btn-log  {
    margin-top: 10px;
    color: #000000;
    border: 2px solid #fda605;
    border-radius: 0px;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #fda605;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    margin-top: 20px;
    margin-bottom: 50px;
    height: 50px;
}

#usuario,
#password {
    margin-right: 4px;
}

.btn-log:hover {
    box-shadow: inset 0 100px 0 0 #fda605;
    font-weight: bold;
}

h2 {
    color: white;
    width: 300px;
    font-size: 50px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 500px;
    border: 1px solid black;
    backdrop-filter: blur(2px);
    backdrop-filter: brightness(30%);
    padding: 80px;
    font-size: 20px;
}


/* recuperar php */

.recuperar {
    color: white;
}

.recuperar:hover {
    color: orange;
}

.formRecuperar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    border: 1px solid black;
    backdrop-filter: brightness(80%);
    font-size: 16px;
    
}

.formRecuperar label
 {
    height: 25px;
    color: black;
    margin: 5px 15px 5px 15px;
    text-align: center;
}
.formRecuperar input {
    height: 25px;
    color: black;
    margin: 5px 0 15px 0;
}

/*cambio clave*/

.divCambioClave  {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 300px;
    margin: 0 auto;
    height: 300px;
    border: 1px solid black;
   

}
.divCambioClave  label{
    color: black;
}
.formCambioClave{
display: flex;
flex-direction: column;
align-items: center;


}

.preguntaVerificacion ,.img{
    width: 500px;
    height: 300px;
}

.containerG{
    display: flex;
    width: 800px;
    margin-top: 15%;
}
.preguntaVerificacion , .divCambioClave ,.img {
flex: 1; /* Ambas partes ocupan el mismo espacio */
padding: 20px; /* Espacio interior para separar el contenido de los bordes */

}

.img-side {
width: 500px;
  height: auto; /* Altura automática para mantener la proporción */
  display: block; 
}

/*querys page*/
@media (max-height: 760px) {
    .contenedor {
        height: 120vh;
    }

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 500px;
        border: 1px solid black;
        backdrop-filter: blur(2px);
        backdrop-filter: brightness(30%);
        padding: 15px;
        font-size: 18px;
    }
    .form h2 {
    width: 200px;
    font-size: 25px;
}


}
@media (max-width: 560px) {
    .form {
        padding: 15px;
        font-size: 15px;
    }
    .form h2 {
    width: 200px;
    font-size: 25px;
}
.formRecuperar {
    font-size: 14px;
}
.formRecuperar  label ,input{
    margin-top: 5px;
    margin-bottom: 5px;

}
.divCambioClave  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    margin: 0 auto;
    height: 500px;
    border: 1px solid black;

}



}
@media (min-width: 1125px) {
    .color-side {
        position: absolute;
        right: 0;
        top: 130px;
        width: 200px;
        min-height: 100vh;
        background: linear-gradient(to left, #ffefd5, white);
    }
 
}

@media (min-width: 1200px) {
    .color-side ,.color-side2 {
        width: 275px;
    }

}

@media (min-width: 1680px) {
    .color-side ,.color-side2 {
        width: 450px;
    }
}
